@yellow : #F6EB2A;
.commentsProject {
	margin-top: 40px;
	padding-top:40px;
	border-top: 1px solid #eee;
	a {
		color:black;
	}
	.logged-in-as {
		a {
			margin-right: 5px;
			font-size: 12px;
		}
	}
}
.product-detail {
	padding:80px 0px;
	@media (max-width: 768px){
		.owl-carousel {
			margin-top: 100px;
		}
	}
	.summary {
		position: relative;
		.btn {
			@media (min-width:768px){
				position: absolute;
				top:0;
				right: 0;
				width: 250px;
				&.btn-primary {
					top:60px;
				}
			}
			@media (max-width: 768px){
				width: 100%;
				margin-top:15px;
			}
		}
		h1 {
			font-size: 40px;
			text-transform: uppercase;
			@media (min-width: 768px){
				max-width: ~"calc(100% - 270px)";
			}
		}

	}
	section.depoimentos {
		padding:60px 0px;
		h3 {
			font-size: 24px;
			margin-bottom: 40px;
		}
		.item {
			background: #f1f1f1;
			padding:30px;
			text-align: left;
			font-size: 16px;
			h4 {
				font-size: 18px;
			}
		}
		.owl-item {
			opacity: 0.5;
			&.center {
				opacity: 1;
			}
		}
		.owl-nav {
			button {
				position: absolute;
				top:-80px;
				left:100px;
				background: url(../../img/prev.png);
				width: 60px;
				height: 60px;
				&.owl-next {
					right: 100px;
					left:auto;
					background: url(../../img/next.png);
				}
				span {
					display: none;
				}
			}
		}
		.owl-dots {
			display: inline-block;
			width:100%;
			padding:10px 0px;
			button {
				width: 8px; height: 8px;
				border:1px solid black;
				background: black;
				border-radius: 100px;
				margin:0px 5px;
				&.active {
					background: white;
				}
			}
		}
	}

	section.projetos {
		padding:60px 0px 0px 0px;
		h3 {
			font-size: 24px;
			margin-bottom: 25px;
		}
		.item {
			background: #f1f1f1;
			text-align: left;
			font-size: 16px;
			background: black;
			h4 {
				font-size: 18px;
			}
		}
		.owl-item {
			img {
				opacity: 0.5;
			}
			&.center {
				img {
					opacity: 1;
				}
			}
		}
		.owl-nav {
			button {
				position: absolute;
				top:-80px;
				left:100px;
				background: url(../../img/prev.png);
				width: 60px;
				height: 60px;
				&.owl-next {
					right: 100px;
					left:auto;
					background: url(../../img/next.png);
				}
				span {
					display: none;
				}
			}
		}
		.owl-dots {
			display: inline-block;
			width:100%;
			padding:10px 0px;
			button {
				width: 8px; height: 8px;
				border:1px solid white;
				background: black;
				border-radius: 100px;
				margin:0px 5px;
				&.active {
					background: white;
				}
			}
		}
	}

	section.professores {
		background: black;
		padding:70px 0px 20px;
		margin-top: -45px;
		z-index: -1;
		color:white;
		position: relative;
		@media (min-width: 768px){
			padding:120px 0px;
			&:after {
				position: absolute;
				bottom:0;
				left:0;
				width: 100%;
				background: url(../../img/hr-professor.png) center center;
				height: 332px;
				content:'';
			}
		}
		h3 {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 20px;
			margin-bottom: 25px;
		}
		h2 {
			font-size:30px;
			font-weight: bold;
			line-height: 25px;
			margin-bottom: 50px;
			span {
				display: inline-block;
				width: 100%;
				font-size: 20px;
				font-weight: normal;
			}
		}
		.item {
			background: #f1f1f1;
			text-align: left;
			font-size: 16px;
			background: black;
			h4 {
				font-size: 18px;
			}
		}
		.owl-item {
			img {
				opacity: 0.5;
			}
			&.center {
				img {
					opacity: 1;
				}
			}
		}
		.owl-nav {
			button {
				position: absolute;
				top:-80px;
				left:100px;
				background: url(../../img/prev.png);
				width: 60px;
				height: 60px;
				&.owl-next {
					right: 100px;
					left:auto;
					background: url(../../img/next.png);
				}
				span {
					display: none;
				}
			}
		}
		.owl-dots {
			display: inline-block;
			width:100%;
			padding:10px 0px;
			button {
				width: 8px; height: 8px;
				border:1px solid white;
				background: black;
				border-radius: 100px;
				margin:0px 5px;
				&.active {
					background: white;
				}
			}
		}
	}

	section.percurso {
		background: black;
		color:white;
		padding-bottom: 140px;
		@media (min-width: 768px) {
			padding-bottom: 100px;
		}
		h3 {
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
		}
		.items {
			margin-top: 25px;
			.item {
				margin-bottom: 45px;
				@media (min-width: 992px) {
					padding-right: 55px;
				}
				h2 {
					font-size: 20px;
					font-weight: bold;
					b {
						text-transform: uppercase;
						color:@yellow;
					}
				}
				ul {
					list-style:none;
					margin:0;
					padding:0;
					li {
						display: inline-block;
						width: 100%;
						background: url(../../img/check.png) left 2px no-repeat;
						padding-left: 30px;
						padding-bottom: 15px;
					}
				}
			}
		}
	}

	section.jornada-final {
		margin-bottom: -2rem;
		.box{
			border: 2px solid black;
			transform: translateY(-9.1rem);
			margin-bottom: -6rem;
			@media (min-width: 768px) {
				transform: translateY(-6.1rem);
				margin-bottom: -2rem;
			}
			.box-content {
				width: 85%;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: relative;
				@media (min-width: 768px) {
					width: 55%;
				}
			}
			.box-head {
				background-color: @yellow;
				padding-top: 2px;
				height: 9rem;
				display: flex;
				align-items: center;
				justify-content: center;
				.box-content {
					flex-wrap: wrap;
					padding-top: 0.75rem;
					@media (min-width: 768px) {
						padding-top: 0;
					}
				}
				@media (min-width: 768px) {
					height: 6rem;
				}
				svg {
					position: absolute;
					height: 3rem;
					width: auto;
					left: 3.5rem;
					top: 0.1rem;
					@media (min-width: 768px) {
						top: unset;
						left: -1.5rem;
					}
				}
				h3 {
					text-transform: uppercase;
					font-weight: 600;
					font-size: 24px;
					width: 100%;
					margin-bottom: 1.25rem;
					margin-left: 2.5rem;
					text-align: center;
					@media (min-width: 768px) {
						margin-bottom: 0;
						width: auto;
						text-align: left;
					}
				}
				span.regular-price {
					color: #9D9500;
				}
				span {
					font-size: 32px;
					font-weight: 600;
				}
				span.highlight bdi{
					position: relative;
					z-index: 1;
					::after {
						content: ' ';
						position: absolute;
						height: 1rem;
						width: 100%;
						z-index: -1;
						right: -2px;
						bottom: 1px;
						background-color: white;
					}
				}
				small{
					font-size: 16px;
					font-weight: 400;
				}
			}
			.box-body {
				.box-content {
					display: block;
					.box-body-title {
						margin: 2.5rem 0 2rem;
						text-transform: uppercase;
						font-weight: 600;
						font-size: 24px;
					}
					.box-body-subtitle {
						margin-bottom: 1.5rem;
						font-weight: 600;
						font-size: 18px;
						line-height: 1.2;
						max-width: 230px;
					}
					.list-items {
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						ul {
							list-style: none;
							width: 100%;
							padding: 0;
							@media (min-width: 768px) {
								width: 45%;
							}
							li {
								display: flex;
								align-items: center;
								justify-content: space-between;
								margin: 1rem 0;
								&:first-of-type {
									margin-top: 0;
								}
								&:last-of-type {
									margin-bottom: 0;
								}
								div {
									padding-right: 3px;
									max-width: 60%;
									font-size: 14px;
									.title {
										font-weight: 600;
									}
								}
								.price-box {
									border: 1px solid @yellow;
									display: flex;
									align-items: center;
									justify-content: center;
									min-width: 60px;
									font-size: 14px;
								}
							}
						}
					}
					hr {
						border-top: 3px dashed @yellow;
					}
					.prices {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-top: 1.5rem;
						margin-bottom: 3rem;
						span {
							font-weight: 600;
							font-size: 22px;
							text-align: right;
							line-height: 1.2;
							&.op {
								color: #CECECE;
								opacity: 1 !important;
								margin-right: 10px;
								text-decoration: line-through;
								text-align: left;
							}
						}
					}
				}
			}
			.op {
				opacity: 0.6;
			}
		}
		.obs {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			h4 {
				font-weight: 600;
				font-size: 22px;
			}
			p {
				font-size: 14px;
			}
		}
	}

	.video {
		position: relative;
		margin-top: 60px;
		&:after {
			width: 100%;
			height: 150px;
			bottom:-10px;
			background: black;
			position: absolute;
			content:'';
		}
		iframe, img {
			position: relative;
			z-index: 2;
		}
	}

	.timelineJornada {
		background: black;
		color:white;
		padding:40px 0px 50px;
		@media (min-width: 992px) {
			padding:70px 0px;
		}
		img {
			width: 100%;
		}
		h4 {
			margin-bottom: 20px;
			color:@yellow;
			text-transform: uppercase;
		}
	}

	.aprender {
		padding:50px 0px;
		img {
			width: 100%;
		}
		h4 {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}
		h5 {
			margin:20px 0px;
			font-size: 22px;
			@media (min-width: 990px){
				max-width: 50%;
			}
		}
	}

	.paraquem {
		background: @yellow;
		color:black;
		padding:50px 0px;
		h4 {
			text-transform: uppercase;
			font-size: 18px;
			margin-bottom: 20px;
			+ p {
				@media (min-width: 992px) {
					width: 80%;
				}
			}
		}
		.box {
			position: relative;

			flex-direction: column;
			display: flex;

			.content {
				display: flex;
				align-items: center;
				margin-bottom: 1rem;
			}

			img {
				// position: absolute;
				// top:0;
				// left:0;
				width: 100px;
			}
			h5 {
				text-transform: uppercase;
				margin-left: 0.5rem;
				padding-top: 10px;
				// padding-left: 110px;
				// padding-top: 40px;
				// margin-bottom: 40px;
			}
			p {
				padding: 0 1rem;
				@media (min-width: 992px) {
					padding: 0;
				}
			}
		}
	}
}

.product-detail.jornada {
	.video {
		img {
			min-height: 300px;
			object-fit: cover;
		}
	}
	section.professores {
		.box > div {
			margin-bottom: 3rem !important;
			@media (min-width: 992px) {
				margin-bottom: 5rem !important;
			}
			&:last-of-type{
				margin-bottom: 0 !important;
			}
		}
		h2 {
			margin-top: 20px;
			margin-bottom: 0px;
			@media (min-width: 992px) {
				margin-top: 0;
			}
			span {
				margin-bottom: 25px;
			}
		}
		&.par {
			@media (min-width: 768px){
				&:after {
					transform: rotateY(180deg);
					bottom: 3.5rem;
				}
			}
		}
	}
}

body.single {
	.woocommerce-notices-wrapper {
		position: fixed;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.6);
		z-index: 10;
		ul {
			position: absolute;
			top:50%;
			left:50%;
			transform:translateX(-50%) translateY(-50%);
			width: 320px;
			background: white;
			border-radius: 10px;
			padding:30px;
			list-style:none;
			margin:0;
			text-align: center;
			li {
				display: inline-block;
				width: 100%;
				.button {
					background: @yellow;
					color:black;
					text-align: center;
					margin-bottom: 15px;
					width: 100%;
					display: inline-block;
					padding:10px;
					text-transform: uppercase;
				}
			}
		}
		.woocommerce-message {
			text-align: center;
			.button {
				background: @yellow;
				color:black;
				text-align: center;
				margin-bottom: 15px;
				width: 100%;
				display: inline-block;
				padding:10px;
				text-transform: uppercase;
			}			
		}
	}
}