div.sobre {
	.title {
		h1 {
			font-size: 32px;
			text-transform: uppercase;
			font-weight: bold;
			margin-top: 70px;
		}
	}
	.menu {
		ul {
			display: inline-block;
			width: 100%;
			padding:0px 30px;
			margin:0;
			list-style: none;
			border-bottom: 1px solid black;
			li {
				border:1px solid black;
				display: inline-block;
				padding:10px 25px;
				margin:0px 2px;
				margin-bottom: -1px;
				a {
					color:black;
					font-size: 18px;
				}
				&.current_page_item {
					border-bottom: 1px solid white;
				}
			}
		}
	}
}